@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.carousel-card {
  position: relative; /* This allows absolute positioning relative to the card */
  /* Other styles... */
}

.carousel-card {
  position: relative; /* Enables absolute positioning for child elements */
  display: inline-block; /* Keeps the card size as per the content */
  /* Add more styles as needed */
  border: 1px solid rgb(222, 218, 218); /* This will add the border around the card */
  border-radius: 30px; /* This will create rounded corners */
}

.carousel-card-header {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 32px;
  position: absolute; /* Absolutely position the years within the card */
  top: 5px; /* Align to the top edge of the card */
  left: 15px; /* Align to the left edge of the card */
  color: white; /* Change text color for contrast */
  padding: 4px 8px; /* Padding for the years text */
  border-bottom-right-radius: 4px; /* Rounded corner for aesthetics */
  z-index: 10; /* Ensure the header is above the image */
  /* Add more styles as needed */
}

.border-transparent {
  border: transparent;
}

.carousel-card-image img {
  width: auto; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%;
}

h3 {
  font-size: 24px;
}
.carousel-card-body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  min-height: 150px;
  max-width: 350px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

.carousel-card-body-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-left: 10px;
}

.bulleted::before {
  content: "• "; /* This is a bullet point character */
  /* You can add more styling as needed, such as margin or color */
  margin-right: 8px; /* Adds space between the bullet and the text */
  color: black; /* Sets the color of the bullet, if needed */
  /* Other styles for positioning and size as needed */
}

.learn-more {
  background-color: #ffde62;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  font-size: 16px;
  border-color: transparent;
  width: 80%;
  margin-bottom: 10px;
  position: relative;
}

.learn-more::after {
  content: ">"; /* Caret symbol */
  color: #000; /* Black caret */
  font-size: 1.5em; /* Slightly larger caret */
  position: absolute; /* Absolute positioning inside the button */
  right: 15px; /* Positioned to the far right inside the button */
  top: 50%; /* Align vertically */
  transform: translateY(-50%); /* Center vertically */
}

.learn-more:hover {
  background-color: #eccb54; /* Slightly darker yellow on hover */
}

.button-container {
  width: 100%; /* Take the full width to allow centering inside */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
