@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  padding: 0;
}

p {
  font-family: "Poppins", sans-serif;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 60px;
}

.content-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  width: 50%;
  margin-left: 60px;
  /* add margin */
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #d9d9d9;
  width: 100%;
  padding: 100px;
}

.main-heading {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 72px;
  margin: 0;
}

.sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
}
