.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

.life-chapters-container {
  margin: 4%;
}

.header {
  background-color: #fff;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

/* TestDemo.css */
.item.center {
  transform: scale(1.1); /* Make the center item larger */
  transition: transform 0.5s ease;
  z-index: 10; /* Ensure it sits above other slides */
}

.carousel-container .slick-slide {
  transition: transform 0.5s ease;
  margin-top: 30px;
  margin-bottom: 30px; /* Adjust as needed */
}

.slide-slider {
  height: auto;
}

.learn-more {
  display: none; /* Hide button by default */
  margin-top: 10px;
}

.item.center .learn-more {
  display: block; /* Only display button in the center slide */
}

.banner {
  background: linear-gradient(
    to right,
    #fee2c3,
    #f6c062
  ); /* Adjust the colors as needed */
  padding: 20px 60px;
  font-family: Poppins, sans-serif;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  padding: 0;
  margin-top: 40px;
}

p,
h1 {
  font-family: "Poppins", sans-serif;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #ffefb5;
  width: 100%;
  padding: 100px;
  text-align: left;
}

.sub-heading-container {
  width: 70%;
}

.main-heading {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 72px;
  margin: 0;
  text-align: left; /* Center the title text */
}

.sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  text-align: left; /* Center the subtitle text */
  margin-top: 20px; /* Add space between title and subtitle */
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  margin-top: 60px;
  max-width: 1200px; /* Limit the width and center it */
  margin-left: auto;
  margin-right: auto;
}

.content-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 50%;
  margin-left: 60px;
}

.heading-img {
  border-radius: 10px;
}

/* Image styles */
.overall-heading-container img {
  width: 20%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Match the border-radius from the screenshot */
}

.overall-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    #ffefb5 0%,
    #ffefb5 50%,
    #ffffff 50%,
    #ffffff 100%
  );
}

.heading-text-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 10px;
}

.heading-content-container {
  text-align: left;
  width: 80%;
  border: 2px solid rgb(222, 218, 218);
  border-radius: 10px;
  padding: 5px;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.heading-title-container {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}

/* Additional styling for arrow containers if needed */
.slick-prev,
.slick-next {
  background-color: transparent; /* Example to remove any background styling */
  /* Other styles as necessary */
}

.slick-prev:before,
.slick-next:before {
  color: black !important; /* Choose the color you want for the arrows */
  font-size: 40px !important;
}
