/* HomePage.css */
.homepage {
  font-family: Arial, sans-serif;
}

body {
  overflow-x: hidden; /* This prevents horizontal scrolling */
}

.centered-flexbox {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Take up the full viewport height */
  /*background: linear-gradient(to right, #ff7e5f, #feb47b);*/
}

.about-us-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-us-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 45%;
  margin-right: 100px;
}

.about-us-buttons-container {
  display: flex;
  flex-direction: row;
}

.about-us-scroll {
  margin-top: 200px;
  display: flex; /* Establishes a flex container */
  align-items: center; /* Vertically centers the flex items */
  justify-content: center; /* Horizontally centers the flex items in the container */
}

.about-us-scroll-link {
  display: flex;
  align-items: center; /* Aligns the text and the image vertically */
  text-decoration: none; /* Removes the underline from the link */
  color: inherit; /* Inherits the color from the parent element */
  font-size: 18px; /* Sets the font size of the link text */
}

.about-us-scroll-link img {
  margin-right: 10px;
}

.image-container {
  position: relative;
  top: -100px;
}

.large-image {
  width: 90%; /* Or set a specific width */
  border-radius: 20px; /* Adjust as necessary for rounded corners */
}

.small-image {
  width: 50%; /* Or set a specific width */
  border-radius: 10px; /* Adjust as necessary for rounded corners */
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(
    30%,
    50%
  ); /* Adjust translation values to overlap as needed */
}

/* How it works section */

/* Flexbox wrapping the whole section - not reused in other sections */
.Features-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Flexbox wrapping the three text columns section - not reused in other sections */
.features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

/* Flexbox wrapping each text column section - not reused in other sections 
   Styled to center texts, column flex, and margins
*/
.feature-textbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  margin-bottom: 40px;
  width: 80%;
}

.feature-explanation {
  display: flex;
  flex-direction: column;
  width: 40%;
}

/* texts in the text column section - not reused*/
.feature-title {
  font-size: 32px;
  margin-bottom: 3%;
}

.feature-description {
  font-size: 24px;
  width: 90%;
  margin-bottom: 20px;
}

.title {
  width: 50%;
}

.heading,
.paragraph {
  flex: 0 0 auto;
}

.logo {
  font-size: 24px;
}

.gradient-background {
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); /* Gradient from pink to orange */
  /* Define other properties like height and width as needed */
}

.header {
  background-color: #fff;
}

.gradient-text {
  background: linear-gradient(45deg, orange, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* for Safari */
  font-size: "48px";
}

.colored-ellipse {
  width: 30%; /* Adjust width as necessary */
  height: 100%; /* Adjust height to maintain the aspect ratio of the ellipse */
  background: radial-gradient(circle at center, #ffeaa7, #fff);
  border-radius: 50%;
}

.nav-bar-container {
  display: flex;
  flex-direction: column;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  padding-right: 100px;
}

html {
  scroll-behavior: smooth;
}

.waitlist-container {
  padding-top: 20px;
}

.virgil-vault-holder {
  padding: 20px;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.nav-item {
  cursor: pointer;
}

.main-content {
  padding: 2rem;
  text-align: center;
}

.hero {
  color: #333;
  margin-bottom: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  margin-bottom: 1.5rem;
}

.cta-button {
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 50px;
}

button.cta-button {
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

.images img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 8px;
}

.main-image {
  max-height: 300px; /* Adjust based on your design */
  width: 50%;
}

.secondary-image {
  max-height: 150px; /* Adjust based on your design */
  position: relative;
  top: -50px; /* Overlap images as in the design */
}

.virgil-vault-header-holder {
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(222, 218, 218);
}

.virgil-vault,
.waitlist-form-container {
  flex: 1;
  padding: 20px;
  margin: 20px;
  text-align: left;
  border: 2px solid rgb(222, 218, 218);
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
}

.resized-image {
  width: 40%; /* Set the width to 50% of its parent container */
  height: auto; /* Height is set to auto to maintain aspect ratio */
}

.virgil-vault-header h1,
.waitlist-form-header h1 {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.virgil-vault-header {
  text-align: left;
}

.virgil-vault-includes {
  margin-top: 20px;
  text-align: left;
}

.virgil-vault-includes h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.virgil-vault-includes ul {
  list-style: none;
  padding: 0;
}

.virgil-vault-includes li::before {
  content: "✔";
  margin-right: 5px;
  color: #000; /* Changed to white to be visible on the gradient background */
}

.virgil-vault-includes p {
  /*background: url("checkmark-icon.png") no-repeat left center; /* Path to checkmark icon */
  padding-left: 30px; /* Adjust according to icon size */
  background-size: 20px; /* Size of the checkmark icon */
  margin-bottom: 10px;
}

.waitlist-form-header h1 {
  color: #000;
  font-size: 24px;
}

.waitlist-form-header p {
  color: #666;
  font-size: 14px;
}

.waitlist-form label {
  display: block;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.waitlist-form input,
.waitlist-form select,
.waitlist-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.waitlist-form textarea {
  resize: none; /* Prevents resizing of textarea */
}

.waitlist-button {
  width: 100%;
  background-color: #ffde62; /* Orange color for the button */
  color: black;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  padding: 15px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.nav-link-waitlist {
  font-size: 16px;
  font-weight: bold;
  background-color: #ffde62; /* Orange color for the button */
  color: black;
  padding: 15px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.waitlist-button:hover,
.nav-link-waitlist:hover {
  background-color: #cc8400; /* Darker shade for hover effect */
}

.waitlist-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjusts space between children */
  align-items: stretch; /* Aligns items at the start of the flex container */
}

.virgil-vault-includes {
  font-family: "Poppins", sans-serif;
}

.virgil-vault-includes li {
  font-family: "Poppins", sans-serif;
  text-indent: -20px; /* Pull the text slightly to the left */
  padding-left: 20px; /* Push the text back to the right, creating indent for the second line */
  margin-bottom: 10px;
}

.number-circle {
  background-image: radial-gradient(
    circle,
    #fc8703 0%,
    #feca50 30%,
    #ffde62 50%
  );
  color: #000;
  font-size: 24px;
  font-weight: bold;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
