@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.header-container {
  display: flex;
  flex-direction: column; /* Stack name and location-date vertically */
  align-items: center; /* Center-align the items */
  width: 80%;
  margin: 20px auto;
}

.family-heading {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.family-content {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-align: left;
  width: 60%;
  font-size: 20px;
}

.family-container {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.banner {
  background: linear-gradient(
    to right,
    #fee2c3,
    #f6c062
  ); /* Adjust the colors as needed */
  padding: 20px 60px;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}
.name-heading-container {
  margin-bottom: 10px; /* Add some space below the name */
  text-align: left; /* Center the text */
  font-size: 24px; /* Adjust font size as needed */
  font-family: "Poppins", sans-serif;

  width: 100%;
}

.location-date-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* This will space out the two h1 tags */
  width: 100%; /* Use full available width */
}

.responsive-iframe {
  position: relative;
  overflow: hidden; /* This overflow applies to the container to ensure corners are clipped */
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  width: 100%; /* Full width */
}

iframe {
  border-radius: 20px; /* Rounded corners */
  border: none; /* Remove the default iframe border */
}
