.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.life-chapters-container {
  margin: 50px;
}

.header {
  background-color: #fff;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

/* TestDemo.css */
.item.center {
  transform: scale(1.1); /* Make the center item larger */
  transition: transform 0.5s ease;
  z-index: 10; /* Ensure it sits above other slides */
}

.carousel-container .slick-slide {
  transition: transform 0.5s ease;
}

.learn-more {
  display: none; /* Hide button by default */
  margin-top: 10px;
}

.item.center .learn-more {
  display: block; /* Only display button in the center slide */
}
